//
// Comment Respond Styles
//========================

.comment-respond {

  label {
    display: block;
    margin-right: 12px;
  }

  input[type="email"],
  input[type="text"],
  input[type="url"] {
    width: 50%;
  }

  @include media( $breakpoint__screen-size--small ) {
    padding: 30px;
    margin-bottom: 5%;
  }
}