/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
  float: right;
  text-align: right;
  width: $headerRight_Width;

  @media only screen and (max-width: 1200px) {
    width: $headerRight_Width_LargeScreens;
  }

  @media only screen and (max-width: 1023px) {
    text-align: center;
    width: 100%;
  }
}