/* ### Primary Sidebar */
.sidebar-primary {
  float: right;
  width: $primary-sidebar--width;

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }
}

@media screen and (max-width: $largerScreen) {
  .sidebar-primary {
    width: $primary-sidebar--width-larger-screen;
  }
}

