/* ### Primary Sidebar */
.sidebar-primary {
  float: right;
  width: $primarySidebar__Width;

  .sidebar-content &,
  .sidebar-sidebar-content & {
    float: left;
  }
}

@media screen and (max-width: $largerScreen) {
  .sidebar-primary {
    width: $primarySidebar__LargerScreenWidth;
  }
}

