//
// Base Colors
//=======================
$white = #fff;
$black = #333;
$gray--lighter = #eee;
$gray--light = #ddd;
$gray= #777;
$red = #c3251d;

//
// Color Configuration
//=======================

$link--color: $red;
$link--hover-color: $black;

// Elements
$base--color = $black;
$body--background-color: $gray--lighter;

// Form Elements
$input--background-color: $white;
$input--border-color: $gray--light;
$input--color: $black;
$input--focus-border-color: $gray--light;

$button--background-color: $black;
$button--color: $white;
$button--hover-background-color: $red;
$button--hover-color: $white;
$button--disabled-background-color: $gray--lighter;
$button--disabled-color: $gray;

//
// Site Header
//============================
$site-header--background-color: $white;
$site-title--link-color: $black;

//
// Site Footer
//============================
$site-footer--background-color: $white;
$site-footer--border-color: $gray--lighter;
$footer-widgets--background-color: $white;

//
// Navigation
//============================
$nav--link-color: $black;
$nav--hover-color: $red;

$submenu--border-color: $gray--lighter;
$submenu--link-background-color: $white;

$primary-nav--background-color: $white;
$primary-nav--border-color: $gray--lighter;
$primary-nav--link-color: $nav--link-color;

$secondary-nav--background-color: $white;
$secondary-nav--link-color: $nav--link-color;
$secondary-nav--border-color: $white;

$js-nav--background-color: $white;
$js-nav--hover-color: $black;
$js-nav--focus-color: $red;

$nav-toggle--background-color: $white;
$nav-toggle--color: $black;

$archive-pagination--link-background-color: $white;
$archive-pagination--link-color: $black;
$archive-pagination--hover-background-color: $red;
$archive-pagination--hover-color: $white;

//
// Entry Content
//============================
$entry--background-color: $white;

$entry-footer__meta--border-color: $gray--lighter;

$entry-title--link-color: $black;
$entry-title--hover-color: $red;

$entry-content__code--background-color: $gray--lighter;
$entry-content__code--color: $black;

//
// Comments
//=============================
$comment--background-color: $white;

//
// Widgets
//=============================
$widget-title--link-color: $black;

//
// Plugins
//=============================
$enews--background-color: $black;
$enews__widget-title--color: $white;
$enews__input--border-color: $black;
$enews__submit-button--background-color: $red;
$enews__submit-button--color: $white;
$enews__submit-button--hover-background-color: $white;
$enews__submit-button--hover-color: $black;

//
// General components
//=============================
$breadcrumbs--background-color: $white;
$author-box--background-color: $white;
$after-entry--background-color: $white;
$archive-description--background-color: $white;