$white = #fff;
$black = #333;

$link--color: #c3251d;
$link--hover-color: #333;

// Elements
$base--color = #333;
$body--background-color: #eee;

// Form Elements
$input--background-color: $white;
$input--border-color: #ddd;
$input--color: $black;
$input--focus-border-color: #ddd;

$button--background-color: #333;
$button--color: $white;
$button--hover-background-color: #c3251d;
$button--hover-color: $white;
$button--disabled-background-color: #eee;
$button--disabled-color: #777;

//
// Site Header
//============================
$site-header--background-color: $white;
$site-title--link-color: $black;

//
// Site Footer
//============================
$site-footer--background-color: $white;
$site-footer--border-color: #eee;
$footer-widgets--background-color: $white;

//
// Navigation
//============================
$nav--link-color: #333;
$nav--hover-color: #c3251d;

$submenu--border-color: #eee;
$submenu--link-background-color: $white;

$primary-nav--background-color: $white;
$primary-nav--border-color: #eee;
$primary-nav--link-color: $nav--link-color;

$secondary-nav--background-color: $white;
$secondary-nav--link-color: $nav--link-color;
$secondary-nav--border-color: $white;

$js-nav--background-color: $white;
$js-nav--hover-color: $black;
$js-nav--focus-color: #c3251d;

$nav-toggle--background-color: $white;
$nav-toggle--color: $black;

$archive-pagination--link-background-color: $white;
$archive-pagination--link-color: $black;
$archive-pagination--hover-background-color: #c3251d;
$archive-pagination--hover-color: $white;

//
// Entry Content
//============================
$entry--background-color: $white;

$entry-footer__meta--border-color: #eee;

$entry-title--link-color: $black;
$entry-title--hover-color: #c3251d;

$entry-content__code--background-color: #eee;
$entry-content__code--color: $black;

//
// Comments
//=============================
$comment--background-color: $white;

//
// Widgets
//=============================
$widget-title--link-color: $black;

//
// Plugins
//=============================
$enews--background-color: $black;
$enews__widget-title--color: $white;
$enews__input--border-color: $black;
$enews__submit-button--background-color: #c3251d;
$enews__submit-button--color: $white;
$enews__submit-button--hover-background-color: $white;
$enews__submit-button--hover-color: $black;

//
// General components
//=============================
$breadcrumbs--background-color: $white;
$author-box--background-color: $white;
$after-entry--background-color: $white;
$archive-description--background-color: $white;