//
// Base
//============================
$white = #fff;
$black = #333;

$base__color = #333;

$link__color: #c3251d;
$link__hoverColor: #333;

$body__backgroundColor: #eee;

//
// Site Header
//============================
$siteHeader__BackgroundColor: $white;
$siteTitle__LinkColor: $black;

//
// Site Footer
//============================
$siteFooter__BackgroundColor: $white;
$siteFooter__BorderColor: #eee;
$footerWidgets__BackgroundColor: $white;

//
// Navigation
//============================
$nav__LinkColor: #333;
$nav__HoverColor: #c3251d;

$submenu_BorderColor: #eee;
$submenu_LinkBackgroundColor: $white;

$primaryNav__BackgroundColor: $white;
$primaryNav__BorderColor: #eee;
$primaryNav__LinkColor: $nav__LinkColor;

$secondaryNav__BackgroundColor: $white;
$secondaryNav__LinkColor: $nav__LinkColor;
$secondaryNav__BorderColor: $white;

$jsNav__BackgroundColor: $white;
$jsNav__HoverColor: $black;
$jsNav__FocusColor: #c3251d;

$navToggle__BackgroundColor: $white;
$navToggle__Color: $black;

$archivePagination__LinkBackgroundColor: $white;
$archivePagination__LinkColor: $black;
$archivePagination__HoverBackgroundColor: #c3251d;
$archivePagination__HoverColor: $white;

//
// Entry Content
//============================
$entry__BackgroundColor: $white;

$entryMeta__FooterBorderColor: #eee;

$entryTitle_LinkColor: $black;
$entryTitle_HoverColor: #c3251d;

$entryContent__CodeBackgroundColor: #eee;
$entryContent__CodeColor: $black;

//
// Comments
//=============================
$comment__BackgroundColor: $white;

//
// Widgets
//=============================
$widgetTitle__LinkColor: $black;