//
// Dimension Variables
//=====================

// Header module
$titleArea__Width: 300px;
$siteTitle_MinHeight: 80px;
$headerRight_Width: 800px;
$headerRight_Width_LargeScreens: 620px;

// Footer module
$footerWidgets__Width: 380px;
$footerWidgets_Width_LargeScreens: 300px;
