//
// Dimension Variables
//====================

$base--width: 1280;
$gutter: 40px;

//
// Max Widths
//====================
$max-width: $base--width + px;
$max-width-larger-screen: $base--width * 0.890625 + px;
$max-width-large-screen: $base--width * 0.75 + px;
$max-width--medium-screen: $base--width * 0.625 + px;
$max-width__landing-page: $base--width * 0.625 + px;

//
// Content Widths
//====================
$content--width: $base--width * 0.6875 + px;
$content--width-larger-screen: 800px;
$content--width-large-screen: 620px;

$content-both-sidebars--width: 660px;
$content-both-sidebars--width-larger-screen: 580px;
$content-both-sidebars--width-large-screen: 400px;

$primary-sidebar--width: $base--width * 0.28125 + px;
$primary-sidebar--width-larger-screen: 300px;
$secondary-sidebar--width: $base--width * 0.140625 + px;

$content-sidebar-wrap--width: 1060px;
$content-sidebar-wrap--width-larger-screen: $base--width * 0.71875 + px;
$content-sidebar-wrap--width-large-screen: $base--width * 0.578125 + px;

// Header module
$title-area--width: 300px;
$site-title--min-height: 80px;
$header-right--width: 800px;
$header-right--width-large-screens: 620px;

// Footer module
$footer-widgets--width: 380px;
$footer-widgets--width-large-screens: 300px;
