// Common Fonts
$fontFamily__SourceSansPro: "Source Sans Pro", sans-serif;
$fontFamily__Lato: "Lato", sans-serif;

// Base Typography
$html__FontSize: 62.5%;
$base__FontFamily: $fontFamily__SourceSansPro;
$base__FontSize: 20;
$base__FontSize__SmallScreen: 18;
$baseDiv__FontSize: 2rem;
$baseDiv__FontSize__SmallScreen: 1.8rem;
$base__LineHeight: 1.625;

// Heading Font Properties
$headings__FontFamily: $fontFamily__SourceSansPro;
$headings__LineHeight: 1.2;

$h1__FontSize: 36;
$h2__FontSize: 30;
$h3__FontSize: 24;
$h4__FontSize: 20;
$h5__FontSize: 18;
$h6__FontSize: 16;

// Alt. Heading Font Properties using Modular Scale (Bourbon.io)
//------------------------------------------------------------------------------
$h1-font-size: floor(modular-scale(6, $base-font-size, $major-second));
$h2-font-size: floor(modular-scale(5, $base-font-size, $major-second));
$h3-font-size: floor(modular-scale(4, $base-font-size, $major-second));
$h4-font-size: floor(modular-scale(3, $base-font-size, $major-second));
$h5-font-size: floor(modular-scale(2, $base-font-size, $major-second));
$h6-font-size: floor(modular-scale(1, $base-font-size, $major-second));

// Elements
$blockQuote__FontSize: 30;
$inputFontSize: 18;
$button__FontSize: 16;

//
// Navigation
//============================
$nav__FontSize: 16;
$submenu__FontSize: 14;
$primaryNav__FontSize: 14;
$archivePagination__FontSize: 16;

//
// Site Header
//============================
$siteTitle__FontSize: 30;
$siteDescription__FontSize: 16;

//
// Site Footer
//============================
$siteFooter__FontSize: 16;
$footerWidgets_FontSize: 18;

//
// Entries
//============================
$entryMeta__FontSize: 16;
$entryMeta__HeaderFontSize: 16;
$entryMeta__FooterFontSize: 16;

$entryTitle__FontSize: 36;

//
// Comments
//============================
$comment__FontSize: 16;

//
// Widgets
//============================
$widgetTitle__FontSize: 18;
$featContent__EntryTitle__FontSize: 20;

//
// Plugins
//============================
$enews__FontSize: 16;

//
// General Components
//============================
$breadcrumbs__FontSize: 16;
$authorBox__FontSize: 18;
$authorBox__Title__FontSize: 20;
$afterEntry__FontSize: 18;
$archiveDescription__FontSize: 18;
$archive__Title__FontSize: 20;
