//
// Navigation
//============================
$nav__FontSize: 16;
$submenu__FontSize: 14;
$primaryNav__FontSize: 14;
$archivePagination__FontSize: 16;

//
// Site Header
//============================
$siteTitle__FontSize: 30;
$siteDescription__FontSize: 16;

//
// Site Footer
//============================
$siteFooter__FontSize: 16;
$footerWidgets_FontSize: 18;

//
// Entries
//============================
$entryMeta__FontSize: 16;
$entryMeta__HeaderFontSize: 16;
$entryMeta__FooterFontSize: 16;

$entryTitle__FontSize: 36;

//
// Comments
//============================
$comment__FontSize: 16;

//
// Widgets
//============================
$widgetTitle__FontSize: 18;
$featContent__EntryTitle__FontSize: 20;
